{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container-fluid" class="bg-warning">
            <div class="jumbotron">
                <h1 class="display-4">John The Investor</h1>
                <p class="lead">Let's start with Stocks and Markets</p>
                <hr class="my-4">
                <a class="btn btn-info btn-md" href="{{ path('market_index')}}" role="button">Market</a>
                <a class="btn btn-info btn-md" href="{{ path('company_index')}}" role="button">Company</a>
                <a class="btn btn-info btn-md" href="{{ path('stock_index')}}" role="button">Stock</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
